body{

font-family: verdana;
font-size: 2em;

}

img{

display: block;
margin-left: auto;
margin-right: auto;
width: 45%;
height: 100%;


} 



/*Want to zoom the image on the mouse hover*/
img {
            transition: transform 0.5s ease-in-out;
        }

  img:hover {
            transform: scale(1.5);
        }


.menu {

  margin: auto;
  width: 100%;
  /*border: 3px solid #73AD21;*/
  padding: 0px;
  text-align: center;



}


.mainText{

padding: 10px;
text-align: center;


}



/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}